<div class="main">
  <h2>BSK Project</h2>
  <form>
    <h3>Choose file</h3>
    <br/>
    <input type="file" id="file" name="file"/>
    <h3>Choose encoding</h3>
    <br/>
    <div *ngFor="let encoding of getEncodings()">
      <input type="radio" name="coding" value="{{encoding}}}" id="{{encoding}}"/>
      <label for="{{encoding}}">{{encoding}}</label>
    </div>
    <h3>Sending progress:</h3><br/>
    <label for="progress">{{progress}}%</label>
    <mat-progress-bar aria-labelledby="progress" color="warn" id="progress" value="{{progress}}"></mat-progress-bar>
    <input type="submit" value="Send file!" disabled="disabled">
  </form>
</div>
