@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  background-color: #ee5253;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #0d0d0d;
  border-bottom: 2px solid #ee5253;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 450;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 0 10px 0;
  color: #0d0d0d;
}

.wrapper {
  background-color: #ee5253;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.main {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  min-width: 300px;
  position: relative;
  padding: 0 0 10px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.button {
  border: none;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 10px 30px 0 hsla(0, 76%, 64%, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 20px;
}

input[type="file"] {
  background-color: #ee5253;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 10px 30px 0 hsla(0, 76%, 64%, 0.4);
  border-radius: 5px;
  margin: 5px 20px 5px 20px;
}

input[type="file"]:active,
button:active {
  transform: scale(0.9);
}

button:disabled {
  background-color: rgba(238, 82, 83, 0.2);
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #cccccc;
}

mat-progress-bar {
  margin-bottom: 20px;
}

/*s*/
